
body {
  height: 100vh;
  background-color: rgba(146, 245, 116, 0.5);
  background-image: url('../img/weather.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: red;
  font-size: 42px;
  font-weight: 700;
  text-shadow: 4px 4px 2px rgba(250, 204, 30, 1);
}

.upper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.upper select {
  font-size: 28px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 900;
  color: rgb(0, 17, 255);
  box-shadow:4px 3px 20px 0px rgba(234, 0, 225, 0.75);
}

.outblock {
  width: 1000px;
  height: 300px;
  margin: 60px auto;
  border: 3px solid green;
  border-radius: 15px;
  box-shadow:4px 3px 20px 0px rgba(234, 0, 225, 0.75);
  display: flex;
  justify-content: space-around;
  align-items:center;
}
